---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint/940GZZLUGPS/Arrivals?mode=tube
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Prediction
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - StopPoint_ArrivalsByPathId
      X-Api:
      - StopPoint
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"1856546109","operationType":1,"vehicleId":"206","naptanId":"940GZZLUGPS","stationName":"Great
        Portland Street Underground Station","lineId":"circle","lineName":"Circle","platformName":"Eastbound
        - Platform 2","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUERC","destinationName":"Edgware
        Road (Circle Line) Underground Station","timestamp":"2024-08-06T15:56:23.980026Z","timeToStation":1497,"currentLocation":"At
        Victoria Platform 1","towards":"Edgware Road (Circle)","expectedArrival":"2024-08-06T16:21:20Z","timeToLive":"2024-08-06T16:21:20Z","modeName":"tube","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:00","source":"0001-01-01T00:00:00","insert":"0001-01-01T00:00:00","read":"2024-08-06T15:56:51.869Z","sent":"2024-08-06T15:56:23Z","received":"0001-01-01T00:00:00"}},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"352974761","operationType":1,"vehicleId":"212","naptanId":"940GZZLUGPS","stationName":"Great
        Portland Street Underground Station","lineId":"circle","lineName":"Circle","platformName":"Eastbound
        - Platform 2","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUERC","destinationName":"Edgware
        Road (Circle Line) Underground Station","timestam[...]
